#blog .blog-item-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.15);
  box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear,
    -webkit-box-shadow 0.2s linear;

  &:hover {
    img {
      box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.35);
    }
    .service-detail {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
#blog .blog-item-wrapper:hover {
  -webkit-box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.35);
  box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.35);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#blog .blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
}
#blog .blog-item-img {
  overflow: hidden;
  position: relative;
  .service-detail {
    top: 0;
    opacity: 0;
    transition: all 0.2s linear;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    .description {
      color: #fff;
    }
  }
}
#blog .blog-item-img img {
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s linear;
}
#blog .blog-item-text {
  padding: 20px 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #blog .blog-item-text {
    padding: 20px;
  }
}
#blog .blog-item-text .date {
  font-size: 14px;
  margin-bottom: 10px;
}
#blog .blog-item-text .date i {
  margin-right: 7px;
}
#blog .blog-item-text h3 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
#blog .blog-item-text h3 a:hover {
  color: $color-green-500;
}
