.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border {
  border-top: 2px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  border-bottom: 2px solid;
}
.border-gradient {
  border-image: linear-gradient(
      86.05deg,
      $color-red-200 0.89%,
      $color-red-500 37.46%,
      $color-red-800 97.61%
    )
    1 0 !important;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

.btn {
  position: relative;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 17px !important;
  border-radius: 0px !important;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid transparent;
}
// Button have background color
.btn-hover-1 {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  &:hover {
    border: 1px solid $color-red-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    &::before {
      transform: translateX(0);
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
    &::after {
      border: 1px solid $color-red-500;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }
  &:focus {
    background-color: $color-green-500;
    border: 1px solid $color-red-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    &::before {
      transform: translateX(0);
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
    &::after {
      border-color: $color-red-500;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }
  // &:disabled {
  //   @apply border-gray-400 bg-gray-600 text-white;
  // }
  &::before {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-105%);
    background-color: rgba(24, 35, 79, 0.8);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: "";
  }
  &::after {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: "";
  }
}
// Button with outline

.btn-hover-2 {
  display: flex-inline;
  background: linear-gradient(267.48deg, #f8826e 1.44%, #e15a41 90.95%);
  border-radius: 30px;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.4s ease;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $color-red-800;
    background: #fff;
    color: $color-red-500;
  }
}

.btn:focus,
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #fff;
}
.btn-common {
  background-color: $color-red-500;
  position: relative;
  z-index: 1;
  padding: 12px 32px;
  border-radius: 30px;
}
.btn-common:hover {
  color: #fff;
}
.btn-effect {
  overflow: hidden;
}
.btn-effect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-effect:hover:after {
  width: 100%;
}
.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn-border:hover {
  color: #fff;
  background-color: $color-red-500;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
button:focus {
  outline: none !important;
}
