.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-not-top {
  border-top: 0px solid !important;
}
.border {
  border-left: 0px solid;
  border-right: 0px solid;
  border-bottom: 2px solid;
}
.border-gradient {
  border-image: linear-gradient(
      86.05deg,
      $color-red-200 0.89%,
      $color-red-500 37.46%,
      $color-red-800 97.61%
    )
    1 0 !important;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}
.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}
.btn-lg {
  padding: 5px;
}
.btn-lg span {
  color: rgb(255, 255, 255);
  background-color: $color-red-500;
}
.btn-lg::before,
.btn-lg::after {
  background: transparent;
  z-index: 2;
}
.btn-lg::before,
.btn-lg::after {
  width: 10%;
  height: 25%;
  transition: 0.35s;
}
.btn-lg::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-left: 1px solid $color-red-500;
  border-bottom: 1px solid $color-red-500;
}
.btn-lg::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border-right: 1px solid $color-red-500;
  border-top: 1px solid $color-red-500;
}
.btn-lg:hover::before,
.btn-lg:hover::after {
  width: 99%;
  height: 99%;
}
