[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acreage:before {
  content: "\e91f";
}
.icon-Star:before {
  content: "\e91e";
}
.icon-acreage1:before {
  content: "\e920";
}
.icon-d:before {
  content: "\e915";
}
.icon-camera:before {
  content: "\e916";
}
.icon-icon_search:before {
  content: "\e91b";
}
.icon-img:before {
  content: "\e91c";
}
.icon-setting:before {
  content: "\e91d";
}
.icon-bed:before {
  content: "\e917";
}
.icon-desc:before {
  content: "\e918";
}
.icon-style:before {
  content: "\e919";
}
.icon-wc:before {
  content: "\e91a";
}
.icon-arrow-top:before {
  content: "\e900";
}
.icon-blocks:before {
  content: "\e905";
}
.icon-construc:before {
  content: "\e909";
}
.icon-contact:before {
  content: "\e90a";
}
.icon-copo:before {
  content: "\e90f";
}
.icon-email:before {
  content: "\e910";
}
.icon-keys:before {
  content: "\e911";
}
.icon-price:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e906";
}
.icon-dropdown-right:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-hamburger:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-telegram:before {
  
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}

