#about-area .about-thumb {
  position: relative;
  z-index: 1;
  margin-left: 80px;
  margin-top: 60px;
}
#about-area .about-thumb img {
  width: 100%;
  height: auto;
}
#about-area .about-thumb-2 {
  position: absolute;
  z-index: 5;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
